[Unit]
Description=Syncthing daemon
Documentation=https://github.com/svenwltr/ansible-galaxy-syncthing
After=network.target syncthing.service
Requires=syncthing.service

[Service]
ExecStart={{ syncthing_app_path }}/syncthing.sh
Restart=on-failure
User={{ syncthing_user }}
SuccessExitStatus=2
RestartForceExitStatus=3
ProtectSystem=full
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
